[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE

[submodule "external/CommonLibSSE-NG"]
	path = external/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
